{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/prop-types": "off",
    "import/extensions": ["off"],
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": false
      }
    ],
    "import/no-unresolved": ["error", { "commonjs": true, "caseSensitive": false }]
  }
}
